/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex{
    display: flex;
}


main{
    padding: 4rem 7rem;
}

.p-relative{
    position: relative;

}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}


section.banner-orange{
    height: 70px;
    width: 100%;
    background-color: #ff6900;
}

.header-banner{
    padding-top: 1rem;
    justify-content: space-around;
}

.woman-man-child{
    height: 30px;
    color: white;
    text-align: center;

}

.charachter-banner{
    padding-left: 30px;
    font-family: sans-serif;
}

#logo{
    width: 200px;
    height: 40px;
}

.shop-icon{
    
    color: white;
    font-size: 2rem;
}

.container-one{
    padding-left: 10rem;
}


.card{
    display: inline-block;
    padding-left: 3rem;
}


.card-img{
    height: 500px;
    width: 370px;
}

.info-img{
    font-size: 1.5rem;
}

.price-eur{
    color: red;
}

.discount-price{
    font-style: ;
}

.p-absolute{
    position: absolute;
}

.discount-imgs{
    background-color: red;
    bottom: 0;
}

.eco{
    background-color: green;
}

